<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cybertronbiz.university.student_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.cybertronbiz.university.student_app.Navigation"
            android:label="@string/title_activity_navigation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cybertronbiz.university.student_app.UserActivity"
            android:label="@string/std_ac"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.cybertronbiz.university.student_app.WriterActivity"
            android:label="@string/std_id"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.cybertronbiz.university.student_app.Prediction.Main2Activity_Prediction"
            android:label="@string/pfm_pre"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.cybertronbiz.university.student_app.Prediction.MainActivity_Prediction"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.cybertronbiz.university.student_app.Authentication.FaceMicrosoftSample"
            android:label="@string/face_recog"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="com.cybertronbiz.university.student_app.Authentication.MainActivity"
            android:label="@string/authentication"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cybertronbiz.university.student_app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

</manifest>